In [1]:
import pandas as pd
import numpy as np

In [16]:
df = pd.read_csv('dataset_merged.csv')

/tmp/ipython-input-1180814404.py:1: DtypeWarning: Columns (6,7,30,31,32,33,36,37,38,39) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('dataset_merged.csv')

In [3]:
df.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,...,ORIGIN_COUNTRY,ORIGIN_LATITUDE,ORIGIN_LONGITUDE,DESTINATION_AIRPORT_NAME,DESTINATION_CITY,DESTINATION_STATE,DESTINATION_COUNTRY,DESTINATION_LATITUDE,DESTINATION_LONGITUDE,AIRLINE_NAME
0,2015,1,1,4,98,N407AS,ANC,SEA,5,2354.0,...,USA,61.17432,-149.99619,Seattle-Tacoma International Airport,Seattle,WA,USA,47.44898,-122.30931,Alaska Airlines Inc.
1,2015,1,1,4,2336,N3KUAA,LAX,PBI,10,2.0,...,USA,33.94254,-118.40807,Palm Beach International Airport,West Palm Beach,FL,USA,26.68316,-80.09559,American Airlines Inc.
2,2015,1,1,4,840,N171US,SFO,CLT,20,18.0,...,USA,37.61900,-122.37484,Charlotte Douglas International Airport,Charlotte,NC,USA,35.21401,-80.94313,US Airways Inc.
3,2015,1,1,4,258,N3HYAA,LAX,MIA,20,15.0,...,USA,33.94254,-118.40807,Miami International Airport,Miami,FL,USA,25.79325,-80.29056,American Airlines Inc.
4,2015,1,1,4,135,N527AS,SEA,ANC,25,24.0,...,USA,47.44898,-122.30931,Ted Stevens Anchorage International Airport,Anchorage,AK,USA,61.17432,-149.99619,Alaska Airlines Inc.

In [4]:
df.shape

(140420, 43)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140420 entries, 0 to 140419
Data columns (total 43 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   YEAR                      140420 non-null  int64
 1   MONTH                     140420 non-null  int64
 2   DAY                       140420 non-null  int64
 3   DAY_OF_WEEK               140420 non-null  int64
 4   FLIGHT_NUMBER             140420 non-null  int64
 5   TAIL_NUMBER               140124 non-null  object
 6   ORIGIN_AIRPORT            140420 non-null  object
 7   DESTINATION_AIRPORT       140420 non-null  object
 8   SCHEDULED_DEPARTURE       140420 non-null  int64
 9   DEPARTURE_TIME            136714 non-null  float64
 10  DEPARTURE_DELAY           136714 non-null  float64
 11  TAXI_OUT                  136595 non-null  float64
 12  WHEELS_OFF                136595 non-null  float64
 13  SCHEDULED_TIME            140420 non-null  float64
 14  ELAPSED_TIME              136198 non-null  float64
 15  AIR_TIME                  136198 non-null  float64
 16  DISTANCE                  140420 non-null  int64
 17  WHEELS_ON                 136446 non-null  float64
 18  TAXI_IN                   136446 non-null  float64
 19  SCHEDULED_ARRIVAL         140420 non-null  int64
 20  ARRIVAL_TIME              136446 non-null  float64
 21  ARRIVAL_DELAY             136198 non-null  float64
 22  DIVERTED                  140420 non-null  int64
 23  CANCELLED                 140420 non-null  int64
 24  CANCELLATION_REASON       3859 non-null    object
 25  AIR_SYSTEM_DELAY          45353 non-null   float64
 26  SECURITY_DELAY            45353 non-null   float64
 27  AIRLINE_DELAY             45353 non-null   float64
 28  LATE_AIRCRAFT_DELAY       45353 non-null   float64
 29  WEATHER_DELAY             45353 non-null   float64
 30  ORIGIN_AIRPORT_NAME       140420 non-null  object
 31  ORIGIN_CITY               140420 non-null  object
 32  ORIGIN_STATE              140420 non-null  object
 33  ORIGIN_COUNTRY            140420 non-null  object
 34  ORIGIN_LATITUDE           140334 non-null  float64
 35  ORIGIN_LONGITUDE          140334 non-null  float64
 36  DESTINATION_AIRPORT_NAME  140420 non-null  object
 37  DESTINATION_CITY          140419 non-null  object
 38  DESTINATION_STATE         140419 non-null  object
 39  DESTINATION_COUNTRY       140419 non-null  object
 40  DESTINATION_LATITUDE      140334 non-null  float64
 41  DESTINATION_LONGITUDE     140334 non-null  float64
 42  AIRLINE_NAME              140419 non-null  object
dtypes: float64(20), int64(10), object(13)
memory usage: 46.1+ MB

In [6]:
df.isna().sum()/df.shape[0]*100

YEAR                         0.000000
MONTH                        0.000000
DAY                          0.000000
DAY_OF_WEEK                  0.000000
FLIGHT_NUMBER                0.000000
TAIL_NUMBER                  0.210796
ORIGIN_AIRPORT               0.000000
DESTINATION_AIRPORT          0.000000
SCHEDULED_DEPARTURE          0.000000
DEPARTURE_TIME               2.639225
DEPARTURE_DELAY              2.639225
TAXI_OUT                     2.723971
WHEELS_OFF                   2.723971
SCHEDULED_TIME               0.000000
ELAPSED_TIME                 3.006694
AIR_TIME                     3.006694
DISTANCE                     0.000000
WHEELS_ON                    2.830081
TAXI_IN                      2.830081
SCHEDULED_ARRIVAL            0.000000
ARRIVAL_TIME                 2.830081
ARRIVAL_DELAY                3.006694
DIVERTED                     0.000000
CANCELLED                    0.000000
CANCELLATION_REASON         97.251816
AIR_SYSTEM_DELAY            67.701894
SECURITY_DELAY              67.701894
AIRLINE_DELAY               67.701894
LATE_AIRCRAFT_DELAY         67.701894
WEATHER_DELAY               67.701894
ORIGIN_AIRPORT_NAME          0.000000
ORIGIN_CITY                  0.000000
ORIGIN_STATE                 0.000000
ORIGIN_COUNTRY               0.000000
ORIGIN_LATITUDE              0.061245
ORIGIN_LONGITUDE             0.061245
DESTINATION_AIRPORT_NAME     0.000000
DESTINATION_CITY             0.000712
DESTINATION_STATE            0.000712
DESTINATION_COUNTRY          0.000712
DESTINATION_LATITUDE         0.061245
DESTINATION_LONGITUDE        0.061245
AIRLINE_NAME                 0.000712
dtype: float64

In [29]:
df.columns

Index(['YEAR', 'MONTH', 'DAY', 'DAY_OF_WEEK', 'ORIGIN_AIRPORT',
       'DESTINATION_AIRPORT', 'SCHEDULED_DEPARTURE', 'SCHEDULED_TIME',
       'DISTANCE', 'SCHEDULED_ARRIVAL', 'DIVERTED', 'CANCELLED',
       'CANCELLATION_REASON', 'ORIGIN_STATE', 'ORIGIN_LATITUDE',
       'ORIGIN_LONGITUDE', 'DESTINATION_STATE', 'DESTINATION_LATITUDE',
       'DESTINATION_LONGITUDE', 'AIRLINE_NAME', 'CANCELLATION_REASON_DESC'],
      dtype='object')

In [17]:
cols_postvuelo = [
    'DEPARTURE_TIME', 'DEPARTURE_DELAY', 'TAXI_OUT', 'WHEELS_OFF',
    'ELAPSED_TIME', 'AIR_TIME', 'WHEELS_ON', 'TAXI_IN', 'ARRIVAL_TIME',
    'ARRIVAL_DELAY',
    'AIR_SYSTEM_DELAY', 'SECURITY_DELAY', 'AIRLINE_DELAY',
    'LATE_AIRCRAFT_DELAY', 'WEATHER_DELAY'
]

In [18]:
cols_irrelevantes = [
    'FLIGHT_NUMBER', 'TAIL_NUMBER',
    'ORIGIN_AIRPORT_NAME', 'DESTINATION_AIRPORT_NAME',
    'ORIGIN_CITY', 'DESTINATION_CITY',
    'ORIGIN_COUNTRY', 'DESTINATION_COUNTRY',
]

In [19]:
cols_a_eliminar = cols_postvuelo + cols_irrelevantes
df= df.drop(columns=cols_a_eliminar)

In [21]:
df['CANCELLATION_REASON'].unique()

array([nan, 'A', 'B', 'C', 'D'], dtype=object)

In [26]:
reason_map = {
    'A': 'Airline',
    'B': 'Weather',
    'C': 'National Air System',
    'D': 'Security'
}

df['CANCELLATION_REASON'] = df['CANCELLATION_REASON'].map(reason_map)
df['CANCELLATION_REASON'] = df['CANCELLATION_REASON'].fillna('No Aplica')

In [28]:
df['CANCELLED'] = df['CANCELLED'].map({0: 'No Cancelado', 1: 'Cancelado'})

In [33]:
df = df.fillna(df.mean(numeric_only=True))

In [30]:
df['ORIGIN_STATE'].value_counts(normalize=True).head()

valid_states = df['ORIGIN_STATE'].dropna().unique()
state_proportions = df['ORIGIN_STATE'].value_counts(normalize=True)

num_nulls_origin = df['ORIGIN_STATE'].isnull().sum()
num_nulls_dest = df['DESTINATION_STATE'].isnull().sum()

In [31]:
random_origin_states = np.random.choice(
    state_proportions.index,
    size=num_nulls_origin,
    p=state_proportions.values
)

random_destination_states = np.random.choice(
    state_proportions.index,
    size=num_nulls_dest,
    p=state_proportions.values
)

df.loc[df['ORIGIN_STATE'].isnull(), 'ORIGIN_STATE'] = random_origin_states
df.loc[df['DESTINATION_STATE'].isnull(), 'DESTINATION_STATE'] = random_destination_states

In [35]:
df.duplicated().sum()

np.int64(159)

In [37]:
df = df.drop_duplicates()

In [39]:
df.to_csv("dataset_merged_processed.csv")