In [1]:
import pandas as pd
import numpy as np
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
df = pd.read_csv('/content/drive/MyDrive/Datasets/dataset_merged.csv')

In [3]:
df.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,...,ORIGIN_COUNTRY,ORIGIN_LATITUDE,ORIGIN_LONGITUDE,DESTINATION_AIRPORT_NAME,DESTINATION_CITY,DESTINATION_STATE,DESTINATION_COUNTRY,DESTINATION_LATITUDE,DESTINATION_LONGITUDE,AIRLINE_NAME
0,2015,1,1,4,98,N407AS,ANC,SEA,5,2354.0,...,USA,61.17432,-149.99619,Seattle-Tacoma International Airport,Seattle,WA,USA,47.44898,-122.30931,Alaska Airlines Inc.
1,2015,1,1,4,2336,N3KUAA,LAX,PBI,10,2.0,...,USA,33.94254,-118.40807,Palm Beach International Airport,West Palm Beach,FL,USA,26.68316,-80.09559,American Airlines Inc.
2,2015,1,1,4,840,N171US,SFO,CLT,20,18.0,...,USA,37.61900,-122.37484,Charlotte Douglas International Airport,Charlotte,NC,USA,35.21401,-80.94313,US Airways Inc.
3,2015,1,1,4,258,N3HYAA,LAX,MIA,20,15.0,...,USA,33.94254,-118.40807,Miami International Airport,Miami,FL,USA,25.79325,-80.29056,American Airlines Inc.
4,2015,1,1,4,135,N527AS,SEA,ANC,25,24.0,...,USA,47.44898,-122.30931,Ted Stevens Anchorage International Airport,Anchorage,AK,USA,61.17432,-149.99619,Alaska Airlines Inc.

In [4]:
df.shape

(899159, 43)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 899159 entries, 0 to 899158
Data columns (total 43 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   YEAR                      899159 non-null  int64
 1   MONTH                     899159 non-null  int64
 2   DAY                       899159 non-null  int64
 3   DAY_OF_WEEK               899159 non-null  int64
 4   FLIGHT_NUMBER             899159 non-null  int64
 5   TAIL_NUMBER               892783 non-null  object
 6   ORIGIN_AIRPORT            899159 non-null  object
 7   DESTINATION_AIRPORT       899159 non-null  object
 8   SCHEDULED_DEPARTURE       899159 non-null  int64
 9   DEPARTURE_TIME            867443 non-null  float64
 10  DEPARTURE_DELAY           867443 non-null  float64
 11  TAXI_OUT                  866871 non-null  float64
 12  WHEELS_OFF                866871 non-null  float64
 13  SCHEDULED_TIME            899157 non-null  float64
 14  ELAPSED_TIME              864676 non-null  float64
 15  AIR_TIME                  864676 non-null  float64
 16  DISTANCE                  899159 non-null  int64
 17  WHEELS_ON                 866066 non-null  float64
 18  TAXI_IN                   866066 non-null  float64
 19  SCHEDULED_ARRIVAL         899159 non-null  int64
 20  ARRIVAL_TIME              866066 non-null  float64
 21  ARRIVAL_DELAY             864676 non-null  float64
 22  DIVERTED                  899159 non-null  int64
 23  CANCELLED                 899159 non-null  int64
 24  CANCELLATION_REASON       32499 non-null   object
 25  AIR_SYSTEM_DELAY          191130 non-null  float64
 26  SECURITY_DELAY            191130 non-null  float64
 27  AIRLINE_DELAY             191130 non-null  float64
 28  LATE_AIRCRAFT_DELAY       191130 non-null  float64
 29  WEATHER_DELAY             191130 non-null  float64
 30  ORIGIN_AIRPORT_NAME       899159 non-null  object
 31  ORIGIN_CITY               899159 non-null  object
 32  ORIGIN_STATE              899159 non-null  object
 33  ORIGIN_COUNTRY            899159 non-null  object
 34  ORIGIN_LATITUDE           898625 non-null  float64
 35  ORIGIN_LONGITUDE          898625 non-null  float64
 36  DESTINATION_AIRPORT_NAME  899159 non-null  object
 37  DESTINATION_CITY          899159 non-null  object
 38  DESTINATION_STATE         899159 non-null  object
 39  DESTINATION_COUNTRY       899159 non-null  object
 40  DESTINATION_LATITUDE      898624 non-null  float64
 41  DESTINATION_LONGITUDE     898624 non-null  float64
 42  AIRLINE_NAME              899159 non-null  object
dtypes: float64(20), int64(10), object(13)
memory usage: 295.0+ MB

In [6]:
df.isna().sum()/df.shape[0]*100

YEAR                         0.000000
MONTH                        0.000000
DAY                          0.000000
DAY_OF_WEEK                  0.000000
FLIGHT_NUMBER                0.000000
TAIL_NUMBER                  0.709107
ORIGIN_AIRPORT               0.000000
DESTINATION_AIRPORT          0.000000
SCHEDULED_DEPARTURE          0.000000
DEPARTURE_TIME               3.527296
DEPARTURE_DELAY              3.527296
TAXI_OUT                     3.590911
WHEELS_OFF                   3.590911
SCHEDULED_TIME               0.000222
ELAPSED_TIME                 3.835028
AIR_TIME                     3.835028
DISTANCE                     0.000000
WHEELS_ON                    3.680439
TAXI_IN                      3.680439
SCHEDULED_ARRIVAL            0.000000
ARRIVAL_TIME                 3.680439
ARRIVAL_DELAY                3.835028
DIVERTED                     0.000000
CANCELLED                    0.000000
CANCELLATION_REASON         96.385623
AIR_SYSTEM_DELAY            78.743470
SECURITY_DELAY              78.743470
AIRLINE_DELAY               78.743470
LATE_AIRCRAFT_DELAY         78.743470
WEATHER_DELAY               78.743470
ORIGIN_AIRPORT_NAME          0.000000
ORIGIN_CITY                  0.000000
ORIGIN_STATE                 0.000000
ORIGIN_COUNTRY               0.000000
ORIGIN_LATITUDE              0.059389
ORIGIN_LONGITUDE             0.059389
DESTINATION_AIRPORT_NAME     0.000000
DESTINATION_CITY             0.000000
DESTINATION_STATE            0.000000
DESTINATION_COUNTRY          0.000000
DESTINATION_LATITUDE         0.059500
DESTINATION_LONGITUDE        0.059500
AIRLINE_NAME                 0.000000
dtype: float64

In [7]:
df.columns

Index(['YEAR', 'MONTH', 'DAY', 'DAY_OF_WEEK', 'FLIGHT_NUMBER', 'TAIL_NUMBER',
       'ORIGIN_AIRPORT', 'DESTINATION_AIRPORT', 'SCHEDULED_DEPARTURE',
       'DEPARTURE_TIME', 'DEPARTURE_DELAY', 'TAXI_OUT', 'WHEELS_OFF',
       'SCHEDULED_TIME', 'ELAPSED_TIME', 'AIR_TIME', 'DISTANCE', 'WHEELS_ON',
       'TAXI_IN', 'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME', 'ARRIVAL_DELAY',
       'DIVERTED', 'CANCELLED', 'CANCELLATION_REASON', 'AIR_SYSTEM_DELAY',
       'SECURITY_DELAY', 'AIRLINE_DELAY', 'LATE_AIRCRAFT_DELAY',
       'WEATHER_DELAY', 'ORIGIN_AIRPORT_NAME', 'ORIGIN_CITY', 'ORIGIN_STATE',
       'ORIGIN_COUNTRY', 'ORIGIN_LATITUDE', 'ORIGIN_LONGITUDE',
       'DESTINATION_AIRPORT_NAME', 'DESTINATION_CITY', 'DESTINATION_STATE',
       'DESTINATION_COUNTRY', 'DESTINATION_LATITUDE', 'DESTINATION_LONGITUDE',
       'AIRLINE_NAME'],
      dtype='object')

In [8]:
cols_postvuelo = [
    'DEPARTURE_TIME', 'DEPARTURE_DELAY', 'TAXI_OUT', 'WHEELS_OFF',
    'ELAPSED_TIME', 'AIR_TIME', 'WHEELS_ON', 'TAXI_IN', 'ARRIVAL_TIME',
    'ARRIVAL_DELAY',
    'AIR_SYSTEM_DELAY', 'SECURITY_DELAY', 'AIRLINE_DELAY',
    'LATE_AIRCRAFT_DELAY', 'WEATHER_DELAY'
]

In [9]:
cols_irrelevantes = [
    'FLIGHT_NUMBER', 'TAIL_NUMBER',
    'ORIGIN_AIRPORT_NAME', 'DESTINATION_AIRPORT_NAME',
    'ORIGIN_CITY', 'DESTINATION_CITY',
    'ORIGIN_COUNTRY', 'DESTINATION_COUNTRY',
]

In [10]:
cols_a_eliminar = cols_postvuelo + cols_irrelevantes
df= df.drop(columns=cols_a_eliminar)

In [11]:
df['CANCELLATION_REASON'].unique()

array([nan, 'A', 'B', 'C', 'D'], dtype=object)

In [12]:
reason_map = {
    'A': 'Airline',
    'B': 'Weather',
    'C': 'National Air System',
    'D': 'Security'
}

df['CANCELLATION_REASON'] = df['CANCELLATION_REASON'].map(reason_map)
df['CANCELLATION_REASON'] = df['CANCELLATION_REASON'].fillna('No Aplica')

In [13]:
df['CANCELLED'] = df['CANCELLED'].map({0: 'No Cancelado', 1: 'Cancelado'})

In [14]:
df = df.fillna(df.mean(numeric_only=True))

In [15]:
df['ORIGIN_STATE'].value_counts(normalize=True).head()

valid_states = df['ORIGIN_STATE'].dropna().unique()
state_proportions = df['ORIGIN_STATE'].value_counts(normalize=True)

num_nulls_origin = df['ORIGIN_STATE'].isnull().sum()
num_nulls_dest = df['DESTINATION_STATE'].isnull().sum()

In [16]:
random_origin_states = np.random.choice(
    state_proportions.index,
    size=num_nulls_origin,
    p=state_proportions.values
)

random_destination_states = np.random.choice(
    state_proportions.index,
    size=num_nulls_dest,
    p=state_proportions.values
)

df.loc[df['ORIGIN_STATE'].isnull(), 'ORIGIN_STATE'] = random_origin_states
df.loc[df['DESTINATION_STATE'].isnull(), 'DESTINATION_STATE'] = random_destination_states

In [17]:
df.duplicated().sum()

np.int64(25)

In [18]:
df = df.drop_duplicates()

In [20]:
prob_airlines = df['AIRLINE_NAME'].value_counts(normalize=True)

random_airlines = np.random.choice(
    prob_airlines.index,
    size=df['AIRLINE_NAME'].isnull().sum(),
    p=prob_airlines.values
)

df.loc[df['AIRLINE_NAME'].isnull(), 'AIRLINE_NAME'] = random_airlines

In [23]:
df['DESTINATION_LATITUDE'] = df['DESTINATION_LATITUDE'].fillna(
    df.groupby('DESTINATION_AIRPORT')['DESTINATION_LATITUDE'].transform('median')
)

df['DESTINATION_LONGITUDE'] = df['DESTINATION_LONGITUDE'].fillna(
    df.groupby('DESTINATION_AIRPORT')['DESTINATION_LONGITUDE'].transform('median')
)

In [24]:
df.isna().sum()/df.shape[0]*100

YEAR                     0.0
MONTH                    0.0
DAY                      0.0
DAY_OF_WEEK              0.0
ORIGIN_AIRPORT           0.0
DESTINATION_AIRPORT      0.0
SCHEDULED_DEPARTURE      0.0
SCHEDULED_TIME           0.0
DISTANCE                 0.0
SCHEDULED_ARRIVAL        0.0
DIVERTED                 0.0
CANCELLED                0.0
CANCELLATION_REASON      0.0
ORIGIN_STATE             0.0
ORIGIN_LATITUDE          0.0
ORIGIN_LONGITUDE         0.0
DESTINATION_STATE        0.0
DESTINATION_LATITUDE     0.0
DESTINATION_LONGITUDE    0.0
AIRLINE_NAME             0.0
dtype: float64

In [25]:
df.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,SCHEDULED_TIME,DISTANCE,SCHEDULED_ARRIVAL,DIVERTED,CANCELLED,CANCELLATION_REASON,ORIGIN_STATE,ORIGIN_LATITUDE,ORIGIN_LONGITUDE,DESTINATION_STATE,DESTINATION_LATITUDE,DESTINATION_LONGITUDE,AIRLINE_NAME
0,2015,1,1,4,ANC,SEA,5,205.0,1448,430,0,No Cancelado,No Aplica,AK,61.17432,-149.99619,WA,47.44898,-122.30931,Alaska Airlines Inc.
1,2015,1,1,4,LAX,PBI,10,280.0,2330,750,0,No Cancelado,No Aplica,CA,33.94254,-118.40807,FL,26.68316,-80.09559,American Airlines Inc.
2,2015,1,1,4,SFO,CLT,20,286.0,2296,806,0,No Cancelado,No Aplica,CA,37.61900,-122.37484,NC,35.21401,-80.94313,US Airways Inc.
3,2015,1,1,4,LAX,MIA,20,285.0,2342,805,0,No Cancelado,No Aplica,CA,33.94254,-118.40807,FL,25.79325,-80.29056,American Airlines Inc.
4,2015,1,1,4,SEA,ANC,25,235.0,1448,320,0,No Cancelado,No Aplica,WA,47.44898,-122.30931,AK,61.17432,-149.99619,Alaska Airlines Inc.

In [26]:
df.shape

(899134, 20)

In [27]:
df.to_csv("/content/drive/MyDrive/Datasets/dataset_merged_processed.csv")